.btn-next{
    padding: var(--sm-padd);
    background-color: rgb(218, 218, 218);
    color: black;
    text-decoration: none;
    border-radius: var(--sm-rad);
    align-self: center;
    border: 1px solid black;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.466);
}

.btn-next:hover{
    background-color: black;
    color: white;
}