body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 255px 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
}

aside{
    grid-column: 1 / 2; 
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(19, 19, 19);
    overflow-y: auto;
    color: white;
    padding: 0 10px;
}

main{
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 55px 1fr;
    grid-template-columns: 1fr; 
    height: 100%;
    background-color: rgb(235, 235, 235);
    overflow-y: auto;
}

header{
    grid-row: 1 / 2;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 7px black;
    position: sticky;
    top: 0;
}

.content{
    grid-row: 2 / 3;
    padding: 10px;
    display: flex;
    flex-direction: column;
}